<mat-card>
  <h2>UPDATE PRODUCT > {{selectedShopName}} > {{selectedProductName}}</h2>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="col-md-8 offset-md-3" style="margin-bottom: 2%;">
        <h3>Insert Your Product Image</h3>
        <img [src]="url" height="100" style="margin-bottom: 1%; border: 1px solid black;"><br>
        <input type="file" (change)="onselectFile($event)">
      </div>

      <div class="row">
        <div class="col-md-8 offset-md-3">
          <form (ngSubmit)="formSubmit()">

            <mat-form-field class="width100" appearance="outline">
              <mat-label>Product Name</mat-label>
              <input type="text" name="title" matInput required [(ngModel)]="updProduct.productName"
                placeholder="Enter Product Name">
            </mat-form-field>

            <mat-form-field appearance="outline" style="margin-right: 1%;">
              <mat-label>Select Category</mat-label>
              <mat-select name="category" [(ngModel)]="updProduct.categoryType">
                <mat-option *ngFor="let c of categories" [value]="c">
                  {{c}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Product Price</mat-label>
              <input type="number" name="price" matInput required [(ngModel)]="updProduct.productPrice"
                placeholder="Enter Price">
            </mat-form-field>

            <mat-form-field class="width100" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea name="description" matInput rows="15" [(ngModel)]="updProduct.productDescription"
                placeholder="Enter Product Description"></textarea>

            </mat-form-field>
            <div class="container text-center" style="margin-top: 2%;">
              <button style="margin-right: 2%; background-color: #2a4977; color: ghostwhite;" type="submit"
                mat-raised-button>Update</button>
              <button type="reset" (click)="cleared()" mat-raised-button color="warn">Reset</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<div *ngIf="change">
  <mat-progress-bar mode="indeterminate">
  </mat-progress-bar>
</div>
