.full-width {
  width: 89%;
  padding-left: 25%;
  padding-right: 15%;
}

.card {
  width: 60%;
  margin: auto;
  padding: 2%;
  background-color: rgb(252, 245, 233);
  h1 {
    text-align: center;
  }
  button {
    margin: 1%;
  }
}

.changestyle {
  display: none;
}

.validateOtp {
  display: none;
}

.updPaswStyle {
  display: none;
}

.container {
  margin-top: 2%;
}
