<div class="container">
  <div class="card">
    <form (ngSubmit)="doSubmitForm()" (ngSubmit)="onTouch()" [class.changestyle]="check">

      <div class="text-center">
        <h3><i class="fa fa-lock fa-4x"></i></h3>
        <h2 class="text-center">Forgot Password?</h2>
        <p>You can reset your password here.</p>
      </div>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input name="to" [(ngModel)]="data.to" [(ngModel)]="checkEmail.id" matInput>
      </mat-form-field>

      <div class="g-recaptcha full-width" data-sitekey="6Lc3Bw0bAAAAADleEiHiHKrqqLIWLRJ4Ye01FK6q"
        data-callback="verifyCaptcha"></div>
      <div id="g-recaptcha-error"></div>

      <div class="text-center">
        <mat-spinner *ngIf="flag" style="margin: auto;"></mat-spinner>
        <button [disabled]="flag" (click)="myfunction()" type="submit" mat-raised-button color="primary">Send</button>
        <button [disabled]="flag" type="reset" mat-raised-button color="accent">Reset</button>
      </div>

    </form>

    <div class="text-center" [class.validateOtp]="checkValid">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Validate Otp</mat-label>
        <input type="password" name="Validate" [(ngModel)]="validate" matInput>
      </mat-form-field>

      <button (click)="isValid()" mat-raised-button color="accent">Validate</button>

    </div>

    <form [class.updPaswStyle]="updVar" (ngSubmit)="onUpdate()">
      <div class="text-center">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input name="email" [(ngModel)]="updPassword.id" matInput>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>New Password</mat-label>
          <input type="password" name="password" [(ngModel)]="updPassword.password" matInput>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">Update</button>

      </div>
    </form>
  </div>
</div>
