.sticky {
  overflow: hidden;
  position: -webkit-sticky;
  // position: sticky;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  margin-bottom: 50%;
}

//notification bar on the nav bar
.notificationBar{
  z-index: 2;
  width: 30px;
  position: fixed;
  right: 15.5vw;
  top: 2.5vh;
}
